<mat-drawer-container class="layout-container mat-typography" autosize>
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">

    <mat-nav-list>
      <mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line *ngIf="isExpanded">대시보드</h4>
      </mat-list-item>
      <mat-list-item routerLink="/clinic" routerLinkActive="active" >
        <mat-icon mat-list-icon>menu</mat-icon>
        <h4 mat-line *ngIf="isExpanded">아이쿱 클리닉</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon routerLink="/health" mat-list-icon>menu</mat-icon>
        <h4 mat-line *ngIf="isExpanded">헬스쿱</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon routerLink="/medi" mat-list-icon>menu</mat-icon>
        <h4 mat-line *ngIf="isExpanded">메디쿱</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon routerLink="/davinciNote" mat-list-icon>menu</mat-icon>
        <h4 mat-line *ngIf="isExpanded">다빈치 노트</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon routerLink="/conference" mat-list-icon>menu</mat-icon>
        <h4 mat-line *ngIf="isExpanded">컨퍼런스</h4>
      </mat-list-item>
    </mat-nav-list>

    <button mat-mini-fab (click)="isExpanded = !isExpanded" color="warn"
      style="position: absolute; bottom:0; margin: 10px;">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
