<div class="app-container">
    <mat-toolbar color="primary">
        <span>업데이트 관리</span>
    </mat-toolbar>

    <ul>
        <li>버전</li> 1.0.0
        <li>배포일</li> 2019-10-22
        <li>설명</li> 1. 로그인 기능 추가
    </ul>

    <hr>

    <input type='file' name='single' ng2FileSelect [uploader]='uploader'>

    <!-- <button type='button' (click)="uploader.uplodAll()">
        <span>upload</span>
    </button> -->

    <button mat-icon-button color="accent" (click)="uploader.uplodAll()">
        업로드!!!!
    </button>
</div>