<div class="container">
  <h3 mat-dialog-title>신규등록</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="아이디" [(ngModel)]="user.userId" name="id" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="비밀번호" [(ngModel)]="user.userPw" name="pw"
          required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Contains mat-hint for characters count and has maxLengt set
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="State" [(ngModel)]="user.state" name="state" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div> -->

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>사용자 구분</mat-label>
        <select matNativeControl [(ngModel)]="user.userDiv" name="car">
          <option value="" selected></option>
          <option *ngFor="let car of cars" [value]="car.value">
            {{car.viewValue}}
          </option>
        </select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
